// Authors: George Cao and Daniel Zhao
.bookmarks{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content:center;
    li{
        width: min-content;
        padding-right: 2rem;
    }
    .row li:last-child{
        padding-right: 0;
    }
    img{
        height: 10rem;
        width: 10rem;
        object-fit: cover;
    }
    a{
        color: black;
        text-decoration:none;
    }
}

.active {
    color: white;
}